.title{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.smallcol{
    /* to make the total of margin,padding and content in the box = width */
    box-sizing: border-box; 
    padding: 10px;
    margin:1px;
    height: 35vh;
    width: 33%;
    border-color: black;
    border-style: solid;
  }

  #left-col {
    flex-wrap: wrap;
  }
